.login-signup-page {
  background-image: url("../../assets/index/v613-taus-16-urbangradientbackground.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center bottom;
  height: 1000px;
}