.pagination {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
  color: orange;
  cursor: pointer;
}

.pagination a:hover {
  color: black;
  background-color: green;
}

.active {
  color: black;
  background-color: green;
}