.creation-form{
  padding: 1em;
  h4 {
    color: rgb(173, 102, 131);
    font-weight: bold;
    margin-bottom: 1em;
  };
  Button: {
    text-align: center;
  }
}

.slider {
  color: rgb(173, 102, 131);
  margin-bottom: 2em;
}

.field {
  color: rgb(173, 102, 131);
  font-weight: bold;
  margin-top: 5em;
}